<div class="footer">
  <img
    src="/assets/images/world.svg"
    alt="world logo "
    class="world-logo ms-3 mt-3 z"
  />
  <p class="powered-text ms-1 mt-3">English(UK)</p>
  <hr class="hr-line mt-2 ms-4" />
  <p class="powered-text mt-3 ms-4">Terms, Conditions, and Privacy Policy</p>
  <div class="ms-auto me-3">
    <p class="powered-text">Powered By</p>
    <img
      src="/assets/images/electrum logo.svg"
      alt="electrum logo"
      class="electrum-logo"
    />
  </div>
</div>
