.footer {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #ffffff;
    /* border: 1px solid yellowgreen */
}

.world-logo {
    width: 24px;
    height: 24px;
    /* margin-top: 11px; */
}

.hr-line {
    width: 0;
    height: 34px;
    margin: 1px 0;
    border: solid 1px #aaaaaa
}

.powered-text {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.06px;
    text-align: left;
    color: #666666;
    margin-bottom: 0;
}