.header-row {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 65px;
    background-color: #00664f;
    margin: 0;
    padding: 0 15px 0 15px;
}

.header-col {
    align-items: center;
    display: flex;
    margin: 0;
}

.logo-container {
    width: fit-content;
    margin-right: 2%;
}

.header-content {
    /* height: 65px;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #00664f;
    display: flex;
    align-items: center; */
    /* border: 1px solid yellow; */
}

/* .burger-icon {
    height: 30px;
    width: 30px;
} */

.image-container {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}

.search-icon {
    position: absolute;
    /* top: 8px; */
    left: 88%;
    width: 9%;
}

.search-box {
    height: 35px;
    font-size: 14px;
    width: 100%;
    border: none;
}

.dollor-icon {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.responsive-srch-icon {
    /* border-radius: 40px; */
    width: 20px;
    height: 20px;
    margin: 0px 30px 0px 0;
}

form {
    width: 19%;
}

/* .hamburger-button {
    border: none;
} */

.signin-button {
    background-color: #00664f;
    border: 2px solid white;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    margin-right: 22px;
    font-size: 16px;
}

.appliance-button-container {
    display: flex;
    align-items: center;
}

.appliance-button {
    background-color: #f2a354;
    border: none;
    border-radius: 4px;
    padding: 7px 15px 7px 15px;
    FONT-VARIANT: JIS04;
    margin: 0px 30px 0 0;
}

.responsive-search-icon {
    background: #ffffff;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 30px;
}

/* .toggle-icon {
    background-color: white;
    width: 35px;
} */

.burger-button {
    width: 45px;
    height: 50px;
}

@media screen and (max-width:991px) {
    .burger-button {
        width: 30px;
        height: 30px;
    }
}