<!-- <nav class="navbar navbar-light"> -->
<div class="row header-row">
  <div class="col-12 header-col">
    <div class="header-content"></div>
    <div class="logo-container">
      <img
        src="/assets/images/sce-mp-logo-compact.png"
        alt="logo"
        class="img-fluid company-logo"
      />
    </div>
    <form class="">
      <div class="image-container">
        <img src="/assets/images/search-bar.svg" alt="" class="search-icon" />
        <input
          class="form-control search-box d-none d-lg-block"
          type="search"
          placeholder="Search by type, brand, model..."
          aria-label="Search"
        />
      </div>
    </form>
    <div class="ms-auto appliance-button-container">
      <div class="responsive-srch-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="white"
          class="bi bi-search d-lg-none"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
      </div>
      <button class="appliance-button d-none d-xl-block">
        <img
          class="bg-dark me-1 dollor-icon"
          src="/assets/images/Retrieving local contractor pricing.svg"
          alt="logo"
        />
        Appliance Rebate
      </button>
      <button class="signin-button d-none d-lg-block">Sign in</button>
      <div class="burger-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="white"
          class="bi bi-list burger-button"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<!-- </nav> -->
