<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <!-- <div class="next-prev-container"> -->

    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    <!-- </div> -->
    <div class="carousel-inner">
        <div class="carousel-item " *ngFor="let product_info of productOverview.filteredDataArray; let index = index" [ngClass]="{active:index===0}">
            <div class="next-prev-container">
                <p class="next-prev-text">Water Heater({{index+1}}/{{productOverview.filteredDataArray.length}})</p>
            </div>
            <div class="card-container">
                <div class="top-header-cont">
                    <div class="card-header">
                        <div class="title-cont">
                            <p class="product-title">{{ product_info.manufacturer_name }}</p>
                            <p class="product-subtitle">{{ product_info.name }}</p>
                        </div>
                        <div class="header-img-cont">
                            <p class="header-text">3.4ef</p>
                            <img src="assets/images/energy-star.svg" alt="" />
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="details-cont">
                    <div class="image-features-container">
                        <div style="padding: 0 10px 0 0">
                            <img src="assets/images/water-heater-1.svg" alt="" class="product-image" />
                        </div>
                        <div class="features">
                            <div class="features-inner-cont" *ngFor="let f of product_info.est_highlight">
                                <div class="bullet-div"></div>
                                <p class="feature-text">{{ f }}</p>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-line" />
                    <div class="price-detail">
                        <div class="best-price-container">
                            <p class="best-price">Best Price</p>
                            <hr class="dottet-hr-line" />
                            <p class="best-price">${{ product_info.base_price }}</p>
                        </div>
                    </div>

                    <p class="installation-text">(Installation not included)</p>
                    <!-- 
                    <div class="incetive-text-container">
                        <div class="icon-text-cont" style="padding-left: 6px">
                            <p class="avilable-incentive">Available Incentives</p>
                            <img src="assets/images/info-icon.svg" alt="" />
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="avilable-incentive">
                            -${{ product_info.incentives.totalAppliedIncentives }}
                        </p>
                    </div> -->

                    <div class="euipment-text-container">
                        <div class="icon-text-cont">
                            <p class="eqiupment-cost">Equipment Cost</p>
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="eqiupment-cost" style="color: #f2a354">
                            ${{ product_info.netCost }}
                        </p>
                    </div>

                    <div class="annual-saving-container">
                        <p class="annual-saving-text">
                            Your Est. Annual Savings is
                            <b style="color: #4d8807">${{ product_info.est_annual_savings_cal }}</b
                >
              </p>
            </div>
    
            <div style="text-align: center">
              <button class="install-button">Get Install Quote</button>
            </div>
          </div>
          <div class="more-details-container">
            <p class="details-text" (click)="showDetails(index, product_info)">
              View More Details
            </p>
          </div>
    
        </div>

    </div>

</div>