<div class="dashboard row">
    <div class="card-cont-parent col-xs-12 col-sm-6 col-md-4 col-lg-4 pd-10" *ngFor="let product_info of productOverview.filteredDataArray; let index = index">
        <div class="card-container">
            <div class="top-header-cont">
                <div class="card-header">
                    <div class="title-cont">
                        <p class="product-title">{{ product_info.manufacturer_name }}</p>
                        <p class="product-subtitle">{{ product_info.name }}</p>
                    </div>
                    <div class="header-img-cont">
                        <p class="header-text">3.4ef</p>
                        <img src="assets/images/info-icon.svg" alt="" />
                        <img src="assets/images/energy-star.svg" alt="" />
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="details-cont">
                <div class="image-features-container">
                    <div style="padding: 0 10px 0 0">
                        <img src="assets/images/water-heater-1.svg" alt="" class="product-image" />
                    </div>
                    <div class="features">
                        <div class="features-inner-cont" *ngFor="let f of product_info.est_highlight">
                            <div class="bullet-div"></div>
                            <p class="feature-text">{{ f }}</p>
                        </div>
                    </div>
                </div>
                <hr class="hr-line" />
                <div class="price-detail">
                    <div class="best-price-container">
                        <p class="best-price">Best Price</p>
                        <hr class="dottet-hr-line" />
                        <p class="best-price">${{ product_info.base_price }}</p>
                    </div>
                </div>

                <p class="installation-text">(Installation not included)</p>

                <div class="incetive-text-container">
                    <div class="icon-text-cont" style="padding-left: 6px">
                        <p class="avilable-incentive">Available Incentives</p>
                        <img src="assets/images/info-icon.svg" alt="" />
                    </div>
                    <hr class="dottet-hr-line" />
                    <p class="avilable-incentive">
                        -${{ product_info.incentives.totalAppliedIncentives }}
                    </p>
                </div>

                <div class="euipment-text-container">
                    <div class="icon-text-cont">
                        <p class="eqiupment-cost">Equipment Cost</p>
                        <img src="assets/images/info-icon.svg" alt="" />
                    </div>
                    <hr class="dottet-hr-line" />
                    <p class="eqiupment-cost" style="color: #f2a354">
                        ${{ product_info.netCost }}
                    </p>
                </div>

                <div class="annual-saving-container">
                    <p class="annual-saving-text">
                        Your Est. Annual Savings is
                        <b style="color: #4d8807">${{ product_info.est_annual_savings_cal }}</b
            >
          </p>
          <img src="assets/images/info-icon.svg" alt="" />
        </div>

        <div style="text-align: center">
          <button class="install-button">Get Install Quote</button>
        </div>
      </div>
      <div class="more-details-container">
        <p class="details-text" (click)="showDetails(index, product_info)">
          View More Details
        </p>
      </div>
      <!--  -->
    </div>

<button class="all-opt-btn">See All Options</button>

    <!-- <div class="mobile">
      <div>
        <div> -->
          <!-- left right middle text -->
        <!-- </div> -->
        <!-- <div> -->
          <!-- mobile design -->
        <!-- </div>
      </div> -->
  </div>
</div>