.dashboard {
    /* display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; */
    /* padding: 0; */
    /* margin: 0; */
    /* border: 1px solid salmon; */
}

.card-cont-parent {
    margin-bottom: 25px;
}

.card-container {
    /* border: 1px solid saddlebrown; */
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(102, 102, 102, 0.26);
    background-color: #ffffff;
}

.top-header-cont {
    width: 100%;
    min-height: 50px;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-header {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 0 0px;
    padding: 8px;
    /* padding-right: 0px; */
    background-color: #333333;
    align-items: center;
    justify-content: space-between;
}

.title-cont {
    display: flex;
    flex-direction: column;
}

.header-img-cont {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header-text {
    margin-top: 17px;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.3; */
    letter-spacing: 0.06px;
    /* text-align: left; */
    color: #ffffff;
}

.product-title {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.09px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 3px;
}

.product-subtitle {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.07px;
    text-align: left;
    color: #ffffff;
}

.details-cont {
    margin: auto;
    padding: 12px 20px;
}

.image-features-container {
    display: flex;
    /* border: 1px solid lightcoral; */
}

.bullet-div {
    min-width: 12px;
    height: 12px;
    margin: 2px 10px 0px 0;
    border: solid 4px #f2a354;
    border-radius: 10px;
}

.features {
    margin-top: 7px;
}

.features-inner-cont {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.feature-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.05px;
    text-align: left;
    color: #666666;
    margin: 0;
}

.product-image {
    width: 69px;
    height: 186px;
    /* margin: 12px 20px 12px 30.5px; */
}

.hr-line {
    width: 100%;
    /* margin-left: 10px; */
    height: 0;
    margin: 10px 0;
    border: solid 1px #aaaaaa;
}

.best-price-container {
    display: flex;
    margin: 0;
    justify-content: space-between;
    position: relative;
}

.best-price {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.06px;
    text-align: left;
    color: #333333;
    margin: 0;
    background: #fff;
    z-index: 1;
}

.dottet-hr-line {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 0px;
    /* z-index: 0; */
    margin: 0;
    border: dotted 1px #aaaaaa;
}

.installation-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.05px;
    text-align: left;
    color: #969696;
    margin: 0;
}

.icon-text-cont {
    display: flex;
    z-index: 1;
    background: #fff;
}

.incetive-text-container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.avilable-incentive {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: 0.05px;
    text-align: right;
    color: #666666;
    margin: 0;
    background: #fff;
    z-index: 1;
}

.euipment-text-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.eqiupment-cost {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.06px;
    text-align: left;
    color: #333333;
    margin: 0;
    background: #fff;
    z-index: 1;
}

.annual-saving-container {
    display: flex;
    border-radius: 4px;
    max-width: 253px;
    width: 100%;
    padding: 10px 2px;
    margin: 10px auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #4d8807;
}

.annual-saving-text {
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.08px;
    text-align: left;
    color: #333333;
    margin: 0;
}

.install-button {
    margin-top: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: .06px;
    text-align: center;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 164px;
    background-color: #f2a354;
}

.more-details-container {
    width: 100%;
    height: 28px;
    background-color: #f1f1f1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.details-text {
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.07px;
    text-align: center;
    color: #3a66d6;
    margin: 0;
}

.all-opt-btn {
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #416cd7;
    padding: 9px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: .08px;
    text-align: center;
    color: #3a66d6;
    width: 150px;
}

.mobile-card {
    display: none;
}

@media screen and (max-width:640px) {
    .dashboard {
        display: none;
    }
}