<div class="card-header">
    <div
      style="display: flex; flex-direction: column; margin: 11px 60px 0 0"
    >
      <p class="product-title">{{ product_info.manufacturer_name }}</p>
      <p class="product-subtitle">{{ product_info.name }}</p>
    </div>
    <div style="display: flex">
      <p class="header-text">3.4ef</p>
      <img src="assets/images/info-icon.svg" alt="" />
      <img src="assets/images/energy-star.svg" alt="" />
    </div>
  </div>
  <div class="image-features-container">
    <img
      src="assets/images/water-heater-1.svg"
      alt=""
      class="product-image"
    />
    <div class="features">
      <div
        style="display: flex"
        *ngFor="let f of product_info.est_highlight"
      >
        <div class="bullet-div"></div>
        <p class="feature-text">{{ f }}</p>
      </div>
    </div>
  </div>
  <hr class="hr-line" />
  <div class="best-price-container">
    <p class="best-price">Best Price</p>
    <hr class="dottet-hr-line" />
    <p class="best-price">${{ product_info.base_price }}</p>
  </div>
  <p class="installation-text" style="margin: 0px 0px 0px 18px">
    (Installation not included)
  </p>
  <div class="incetive-text-container">
    <p class="avilable-incentive">Available Incentives</p>
    <img
      src="assets/images/info-icon.svg"
      alt=""
      style="margin: 0px 0 0 1px; width: 20px"
    />
    <hr class="dottet-hr-line" style="width: 50px" />
    <p class="avilable-incentive">
      -${{ product_info.incentives.totalAppliedIncentives }}
    </p>
  </div>
  <div class="euipment-text-container">
    <p class="eqiupment-cost">Equipment Cost</p>
    <img
      src="assets/images/info-icon.svg"
      alt=""
      style="margin: 0px 0 0 1px"
    />
    <hr class="dottet-hr-line" style="width: 65px" />
    <p class="eqiupment-cost" style="color: #f2a354">
      ${{ product_info.netCost }}
    </p>
  </div>
  <div class="annual-saving-container">
    <p class="annual-saving-text">
      Your Est. Annual Savings is
      <b style="color: #4d8807"
        >${{ product_info.est_annual_savings_cal }}</b
      >
    </p>
  </div>
  <button class="install-button">Get Install Quote</button>
  <div class="more-details-container">
    <p class="details-text" (click)="showDetails(index, product_info)">
      View More Details
    </p>
  </div>
</div>
</div>
