<div class="home-body container">
    <p class="discover-text">DISCOVER</p>
    <!-- <img
    class="heading-img img-fluid"
    src="https://cdn.zeplin.io/5f5b3178fd1615722ea88346/assets/b9529d0c-b0de-460f-94ed-ebab1d292df9.png"
    alt="img"
  /> -->
    <p class="heading-img">Efficient Water Heater Solutions</p>
    <!-- <div class="container-fluid"> -->

    <div class="row parent m-md-0 p-0">
        <div class="col-md-6 m-0 p-0 col-sm-12 search-box-container">
            <div class="search-box-container">
                <img class="search-icon" src="/assets/images/search-bar.svg" alt="" />
                <input class="search-box h1" placeholder="Enter your adress to begin" type="text" />
            </div>
        </div>

        <div class="col-md-3 col-sm-12 m-md-0 p-0 mb-3 child">
            <select class="dropdown" name="" id="">
        <option value="">Home Type</option>
        <option value="">One</option>
        <option value="">Two</option>
        <option value="">Three</option>
      </select>
        </div>
        <div class="col-md-3 col-sm-12 m-0 p-0">
            <button class="search-button" (click)="onSearchButtonClick()">
        Search
      </button>
        </div>
    </div>
    <!-- </div> -->
    <div class="question-text mt-sm-3">
        <p class="text">Why do we need an address?</p>
        <img class="info-icon" src="/assets/images/info-icon.svg" alt="info icon" />
    </div>
    <hr class="hr-line" />
    <div class="row features">
        <div class="col-md-6 image-container">
            <img src="assets/images/laptop.svg" alt="laptop image" class="laptop-icon img-fluid" />
        </div>
        <div class="col-md-6 info-cont">
            <div class="image-message-container">
                <div class="oval">
                    <img src="/assets/images/timer.svg" alt="" class="ima-fluid" />
                </div>
                <div class="description">
                    <p class="less-time">Less Time</p>
                    <p class="Get-multiple-quotes">
                        Find the product that best fits your home and get matched with a qualified local installer all-in-one place.
                    </p>
                </div>
            </div>

            <div class="image-message-container">
                <div class="oval">
                    <img src="/assets/images/message.svg" alt="" class="ima-fluid" />
                </div>
                <div class="description">
                    <p class="less-time">Free Advice</p>
                    <p class="Get-multiple-quotes">
                        Speak with an energy advisor to learn how a hybrid electric water heater saves you money and reduces air pollution in your home.
                    </p>
                </div>
            </div>

            <div class="image-message-container">
                <div class="oval">
                    <img src="/assets/images/laptop-logo.svg" alt="" class="ima-fluid" />
                </div>
                <div class="description">
                    <p class="less-time">100% Online</p>
                    <p class="Get-multiple-quotes">
                        Find the product that best fits your home and get matched with a qualified local installer all-in-one place.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>+