.home-body {
    width: 100%;
    /* height: px; */
    /* border: 1px solid red; */
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

.discover-text {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 5.12px;
    text-align: center;
    color: #666666;
    margin-top: 27px;
}

.heading-img {
    /* width: 692px;
    height: 58px; */
    object-fit: contain;
    /* font-family: ActualM; */
    /* font-size: 46px; */
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.46px;
    text-align: center;
    color: #00664f;
}

@media (min-width:641px) {
    .heading-img {
        font-size: 46px;
    }
}

@media (max-width:640px) {
    .heading-img {
        font-size: 26px;
        /* padding: 0 10%; */
    }
}

.search-select-button {
    display: flex;
}

.search-box-container {
    position: relative;
    /* width: auto; */
    /* box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.2); */
    /* border: solid 1px rgba(102, 102, 102, 0.5); */
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
}

.search-icon {
    position: absolute;
    top: 6px;
    left: 7px;
    margin: 0 0px 0 0px;
    width: 32px;
}

.search-box {
    width: 100%;
    height: 46px;
    /* border-radius: 4px; */
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.2);
    background-color: #ffffff;
    border: solid 1px rgba(102, 102, 102, 0.5);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: none;
    font-size: 14px;
    padding-left: 43px;
    font-weight: 400;
}

.dropdown {
    width: 100%;
    height: 46px;
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.2);
    border: solid 1px rgba(102, 102, 102, 0.5);
    background-color: #ffffff;
    /* border: none; */
    color: #666666;
    font-size: 14px;
    padding-left: 10px;
}

.search-button {
    width: 100%;
    height: 46px;
    background-color: #f2a354;
    box-shadow: 0 3px 6px 0 rgba(102, 102, 102, 0.2);
    border: none;
    color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 14px;
}

.question-text {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text {
    margin: 0 0 0 0;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.07px;
    color: #666666;
}

.info-icon {
    width: 24px;
    height: 24px;
    margin: 0 0 0 0;
}

.hr-line {
    width: 140px;
    height: 0;
    margin-top: 5px;
    border: solid 1px black
}

.features {
    display: flex;
    /* border: 1px dotted green; */
    margin-top: 60px;
    margin-bottom: 110px;
    margin-left: 7%
}

@media (max-width:640px) {
    .features {
        margin: 20px 0 0 0;
    }
}

.image-message-container {
    display: flex;
    /* flex-direction: row; */
    /* border: 1px dotted magenta; */
}

.image-container {
    max-height: 305px;
    /* border: 1px solid; */
}

.laptop-icon {
    width: 100%;
    height: 100%;
    /* margin: 110px 44px 112px 236px; */
}

.oval {
    width: 50px;
    height: 50px;
    /* margin: 0 16px 34px 0; */
    border-radius: 50px;
    padding: 7px;
    box-shadow: 0 4px 15px 0 rgba(102, 102, 102, 0.26);
    background-color: #ffffff;
}

.less-time {
    /* width: 201px; */
    /* height: 26px; */
    /* margin: 12px 189px 6px 16px; */
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.12px;
    text-align: left;
    /* color: #00664f; */
}

.Get-multiple-quotes {
    max-width: 390px;
    /* height: 40px; */
    /* margin: 6px 0 0 16px; */
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: left;
    color: #666666;
}

.description {
    margin-left: 23px;
}

.parent {
    width: 60%;
    height: auto;
    /* border: 1px solid red; */
}

.child {
    height: 40px;
    /* border: 1px solid rgb(255, 208, 0); */
}

@media (max-width:640px) {
    .image-container {
        display: none;
        /* padding: 0 10%; */
    }
}

@media (max-width:1000px) {
    .parent {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .search-box {
        border-right: none;
        border-radius: 4px;
    }
    .dropdown {
        border-radius: 4px;
    }
    .search-button {
        border-radius: 4px;
    }
    .info-icon {
        display: none;
    }
    /* .info-cont {
        margin-top: 25px;
    } */
}