<div class="mt-4 search-select-button row">
  <div class="search-box-container col-8 col-md-12">
    <div class="row">
      <img
        class="search-icon col-1"
        src="/assets/images/search-bar.svg"
        alt=""
      />
      <input
        class="search-box h1 col-11"
        placeholder="Enter your adress to begin"
        type="text"
      />
    </div>
  </div>
  <select class="dropdown col-2 col-md-12" name="" id="">
    <option value="">Home Type</option>
    <option value="">One</option>
    <option value="">Two</option>
    <option value="">Three</option>
  </select>
  <button class="search-button col-2 col-md-12" (click)="onSearchButtonClick()">
    Search
  </button>
</div>
