.left-side-bar {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
    /* border: 1px solid rgb(0, 47, 255); */
}

.slider-container {
    /* border: 1px solid rgb(213, 36, 230); */
}

.text-message {
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.11px;
    text-align: left;
    color: #00664f;
    margin-bottom: 0px;
    padding: 10px 0;
}

.tell-us-cont {
    /* border: 1px solid sienna; */
}

.hr-line {
    width: 100%;
    height: 0;
    border: 1.5px solid #aaaaaa;
    margin-top: 0px;
}

.location-container {
    margin-top: 20px;
}

.location-input-cont {
    justify-content: space-between;
    display: flex;
}

.search-box {
    height: 48px;
    width: 87%;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06px;
    color: #aaaaaa;
    border: 1px solid rgba(102, 102, 102, .5);
}

.search-button {
    border: none;
    border-radius: 4px;
    background-color: #f2a354;
    height: 48px;
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon-cont {
    width: 16px;
}

.paragraph-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13px;
    width: fit-content;
    /* border: 1px solid brown; */
    margin: 30px 0 9px 0;
}

.slider-parent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 46px;
    /* margin: 5px 0 0 20px; */
    border-radius: 4px;
    border: solid 1px rgba(102, 102, 102, 0.5);
}

.slider {
    border-right: 1px solid #aaaaaa;
    display: flex;
    height: 100%;
    align-items: center;
    width: 60%;
    padding: 0 15px 0 15px;
}

mat-slider {
    width: 100%;
}

::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-accent .mat-slider-thumb,
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #f2a354;
}


/* ::ng-deep .mat-slider-thumb {
    background-color: #f2a354;
}

::ng-deep .mat-slider-thumb-label {
    background-color: #f2a354;
} */

::ng-deep .mat-slider-thumb {
    position: absolute;
    right: -10px;
    bottom: -15px;
    box-sizing: border-box;
    width: 20px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 6px;
    /* border-radius: 50%; */
    transform: scale(0.7);
}

.gallon-range-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #f1f1f1;
}

.volume-text {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: .06px;
    text-align: center;
    color: #f2a354;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* :host ::ng-deep mat-form-field-wrapper{
    padding: 0;
} */

.paragraph-image-container {
    margin-top: 30px;
}

.fuel-type-selector {
    padding: 10px;
    border: 1px solid rgba(102, 102, 102, .5);
    ;
    width: 46%;
    border-radius: 4px;
}

::ng-deep .mat-select-min-line {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06px;
    color: #666666;
}


/* ::ng-deep .mat-form-field {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    
} */

::ng-deep .mat-form-field-wrapper {
    padding: 0;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-select-arrow {
    color: #f2a354;
}

mat-label {
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06px;
    color: #666666;
}

.button-container {
    width: 55%;
    /* height: 46px; */
    /* margin: 5px 0px 0px 20px; */
    /* border: none; */
}

mat-button-toggle {
    /* background-color: #fff; */
}

.all-text {
    font-size: 13px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.07px;
    color: #666666;
    margin-bottom: 4px;
}

mat-button-toggle-group {
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

mat-button-toggle {
    /* border: 1px solid #aaaaaa; */
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06px;
    color: #666666;
    border-radius: 4px;
    /* background-color: #f2a354; */
}

.active-button {
    background-color: #f2a354;
    color: #fff;
}

.non-active-button {
    background-color: #fff;
    color: #666666;
}

.icon-text {
    margin-bottom: 0;
}

@media screen and (max-width:640px) {
    .location-input-cont {
        flex-direction: column;
    }
    .search-box {
        width: 100%;
    }
    .search-button {
        margin-top: 10px;
        width: 100%;
    }
    .fuel-type-selector {
        width: 100%;
    }
    .info-icon {
        display: none;
    }
}