<div class="left-side-bar">
    <div class="tell-us-cont">
        <p class="text-message">Tell Us About Your Project</p>
    </div>

    <div class="slider-container">
        <hr class="hr-line" />

        <div class="location-container">
            <p class="all-text">Location</p>
        </div>

        <div class="location-input-cont">
            <input class="search-box" placeholder="1465 Spyglass Ct, Encinitas, CA 92024" type="text" />

            <button class="search-button">
        <div class="search-icon-cont">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="white"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </div>
      </button>
        </div>

        <div class="paragraph-image-container">
            <p class="all-text icon-text">Size your water heater</p>
            <img class="info-icon" src="assets/images/info-icon.svg" alt="" />
        </div>

        <div class="slider-parent">
            <div class="slider">
                <mat-slider min="30" max="80" step="10" value="50" (input)="onInputChange($event)"></mat-slider>
            </div>
            <div class="gallon-range-cont">
                <p class="volume-text">{{sliderVolume}} Gallons</p>
                <p class="volume-text">({{peopleCount}} people)</p>
            </div>
        </div>

        <div class="paragraph-image-container">
            <p class="all-text">What is your current water heater fuel type?</p>
        </div>
        <div class="fuel-type-selector" id="fuel">
            <!-- <mat-select [(ngModel)]="heaterType"> -->
            <!-- <mat-form-field appearance="fill"> -->
            <!-- <mat-label>Choose fuel type</mat-label> -->
            <mat-select [(ngModel)]="heaterType">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let type of fuelType" [value]="type">{{ type }}
                </mat-option>
            </mat-select>
            <!-- </mat-form-field> -->
        </div>
        <!-- <h1>{{heaterType}}</h1> -->
        <div class="paragraph-image-container">
            <p class="all-text icon-text">Is this a water heater emergency?</p>
            <img class="info-icon" src="assets/images/info-icon.svg" alt="" />
        </div>

        <div class="button-container">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [value]="emergencyButton">
                <mat-button-toggle value="No" [ngClass]="emergencyButton===false ? 'active-button' : 'non-active-button' ">No</mat-button-toggle>
                <mat-button-toggle value="Yes" [ngClass]="emergencyButton===true ? 'active-button' : 'non-active-button' ">Yes</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>