.modal-container {
    width: 100%;
    margin-top: 65px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eeeeee;
}

.modal-header {
    margin: 0px 0 0 0px;
    padding: 4px 7px 5px 5px;
    width: 99%;
    height: auto;
    align-items: center;
    border-bottom: 2px solid #aaaaaac9;
}

.modal-body {
    width: 100%;
    height: 100%;
}

.header-text-cont {
    display: flex;
}

.home-icon-cont {
    display: none;
}

.product-name-text {
    margin: 25px 0px 0px 0px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.07px;
    text-align: left;
    color: #666666;
}


/* 
.btn-close {
    margin: 0 0 0 0;
} */

.button-container {
    display: flex;
}

.next-prev-button {
    display: flex;
    border: none;
    background-color: #ffffff;
    align-items: center;
    letter-spacing: 0.05px;
    color: #666666;
    font-size: 12px;
    padding: 0 0 0 0;
    height: 28px;
}

.prev-btn {
    padding: 0px 11px 0 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 1px solid #aaaaaa;
}

.next-btn {
    padding: 0px 0 0 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.prev-btn-arrow {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin: 0 10px 0 0;
}

.next-btn-arrow {
    margin: 0 0 0 14px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.disabled-button {
    opacity: 0.6;
}

.single {
    display: none;
}

.button-arrow {
    font-size: 14px;
    padding: 4px;
    width: 28px;
    background-color: #f2a354;
    color: #ffffff;
}

.image-title-container {
    width: 99%;
    height: auto;
    margin: 35px 0 0 0;
    /* border: 1px solid greenyellow; */
}

.image-container {
    display: flex;
}

.product-img-cont {
    display: flex;
}

.image-slides {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    height: 74px;
    width: 74px;
    margin: 0 14px 10px 12px;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(102, 102, 102, 0.26);
    /* border: solid 3px #333333; */
    background-color: #ffffff;
}

.main-image {
    width: 500px;
    height: 500px;
    margin: 0 30px 20px 0;
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(102, 102, 102, 0.26);
    background-color: #ffffff;
}

.title-info-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0px;
    /* border: 1px solid red; */
    padding: 20px 0 0 0
}

.activeImage {
    border: 2px solid black;
}

.energy-star-container {
    display: flex;
    justify-content: space-between;
}

.energy-star-img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 13% 0 0;
}

.energy-star-text-container {
    display: flex;
    align-items: center;
}

.info-icon {
    width: 20px;
    height: 20px;
}

.energy-star-text {
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.07px;
    text-align: left;
    color: #666666;
    margin: 0 0 0 0;
}

.product-manufacturer {
    font-size: 42px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.42px;
    color: #333333;
    margin: 0px 0 0px 0;
}

.product-name {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.14px;
    text-align: left;
    color: #666666;
    margin: 0px 0 0px 0;
}

.product-code {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: left;
    color: #0d664f;
    margin: 0px 0 0px 0;
}

.hr-line {
    width: 58px;
    height: 0;
    border: solid 1px #aaaaaa;
}

.heighlight-container {
    display: flex;
    align-items: baseline;
    width: 70%;
}

.bullet {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #0d6650;
    margin: 0 5px 10px 0px;
    padding: 4px
}

.heighlight-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.06px;
    text-align: left;
    color: #666666;
}

.price-container {
    display: flex;
    margin: 20px 0 5px 0;
}

.erased-price {
    display: flex;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    height: 50px;
    position: relative;
}

.erased-price:before {
    position: absolute;
    content: "";
    left: 15px;
    top: 35%;
    right: 0px;
    width: 92px;
    border-top: 2px solid;
    border-color: red;
    transform: rotate( -16deg);
}

.dollor-symbol {
    font-size: 20px;
}

.main-price {
    font-size: 32px;
}

.zeros {
    font-size: 20px;
}

.verticle-hr-line {
    width: 0;
    height: 45px;
    margin: 0 10px 0 10px;
    border: solid 1px #aaaaaa;
}

.original-price-container {
    display: flex;
    flex-direction: column;
}

.condition-text {
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.05px;
    text-align: left;
    color: #666666;
}

.original-price {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #0d6650;
    position: relative;
    height: 30px;
    margin: 0px 0 5px 0;
}

.install-button-container {
    display: flex;
    align-items: baseline;
    margin: 16px 0 0 0;
}

.install-button {
    padding: 12px 20px 12px 20px;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    background-color: #f2a354;
}

.back-results {
    margin: 0 0 0 20px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.06px;
    text-align: left;
    color: #486eeb;
    cursor: pointer;
}

.product-overview-container {
    width: 85%;
    height: auto;
    margin: 20px 0 10px 0px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgb(102 102 102 / 20%);
    background-color: #ffffff;
}

.overview-header {
    display: flex;
    height: auto;
    border-bottom: 1px solid #aaaaaa;
    padding: 0px 0px 7px 15px;
}

.overview-title {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.08px;
    text-align: center;
    color: #0d664f;
    margin: 0px 15px 0 0;
}

.overview-specs {
    color: #666666;
}

.meesage {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.06px;
    text-align: left;
    color: #666666;
    margin: 15px 0 15px 0px
}

.overview-body {
    width: 100%;
    display: flex;
}

.product-bullet-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin-right: 20px;
    padding: 0 20px 0px 0;
    height: auto;
    border-right: 1.5px solid #aaaaaa;
}

.bullet-container {
    width: 49%;
    border-radius: 4px;
    border: solid 1px rgba(102, 102, 102, 0.5);
    background-color: #ffffff;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
}

.bullet-header {
    display: flex;
    align-items: center;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    background-color: #0d6650;
}

.bullet-header-text {
    margin: 0 0 0 8px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.bullet-body {
    padding: 7px;
    width: 100%;
    border-radius: 4px;
    /* border: solid 1px rgba(102, 102, 102, 0.5); */
    background-color: #ffffff;
}

.bullet-body-text {
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    /* text-align: left; */
    color: #4e4e4e;
}

.pricing-container {
    width: 23%;
}

.best-price-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.best-price {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.06px;
    text-align: left;
    color: #666666;
    margin: 0 0 0 0;
    z-index: 1;
    background: white;
}

.dottet-hr-line {
    width: 80%;
    left: 20%;
    position: absolute;
    height: 0px;
    border: dotted 1px #aaaaaa;
}

.image-and-text-container {
    background: white;
    z-index: 1;
    display: flex;
}

.installation-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.05px;
    text-align: left;
    color: #969696;
    background: white;
    z-index: 1;
    margin: 0px 0px 0px 0px
}

.incetive-text-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 15px;
}

.avilable-incentive {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: 0.05px;
    text-align: right;
    color: #666666;
    margin: 0 0 0 0;
    background: white;
    z-index: 1;
}

.euipment-text-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.eqiupment-cost {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.06px;
    text-align: left;
    color: #333333;
    margin: 0 0 0 0;
    background: white;
    z-index: 1;
}

.annual-saving-container {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid 2px #4d8807;
}

.annual-saving-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.08px;
    text-align: left;
    color: #333333;
    margin: 0 0 0 0;
}

@media screen and (max-width:640px) {
    .home-icon-cont {
        display: block;
        margin-top: 16px;
    }
    .product-name-text {
        display: none;
    }
    .bold-text {
        display: block;
    }
    .single {
        display: block;
    }
    .button-arrow {
        padding: 4px 0 4px 10px;
        margin: 0;
    }
    .prev-arrow-border {
        border-right: 1px solid #fff;
    }
    .product-bullet-block {
        width: 100%;
        flex-direction: column;
        border: none;
        padding: 0;
        margin-bottom: 20px;
        border-bottom: 1.5px solid #aaaaaa;
    }
    .bullet-container {
        width: 100%;
    }
    .overview-body {
        flex-direction: column;
    }
    .pricing-container {
        width: 100%;
    }
    .incetive-text-container {
        display: none;
    }
    .dottet-hr-line {
        width: 100%;
        left: 0;
    }
    .info-icon {
        display: none;
    }
    .next-btn {
        display: none;
    }
    .prev-btn {
        display: none;
    }
}

@media screen and (max-width:991px) and (min-width:641px) {
    .product-bullet-block {
        width: 100%;
        /* flex-direction: column; */
        border: none;
        padding: 0;
        margin-bottom: 20px;
        border-bottom: 1.5px solid #aaaaaa;
    }
    .overview-body {
        flex-direction: column;
    }
    .bullet-container {
        width: 49%;
    }
    .pricing-container {
        width: 100%;
    }
    .incetive-text-container {
        display: none;
    }
    .dottet-hr-line {
        width: 100%;
        left: 0;
    }
    .info-icon {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .image-slides {
        flex-direction: row;
    }
    .product-img-cont {
        flex-direction: column;
    }
    .image-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-image {
        margin: 0;
    }
    .title-info-container {
        padding: 20px 0 0px 30px;
    }
    .product-overview-container {
        width: 91%;
    }
}

@media screen and (max-width:400px) {
    .energy-star-img {
        margin: 0px 4% 0 0;
    }
}