<div class="modal-container">
    <div class="modal-header">
        <div class="header-text-cont">

            <div class="home-icon-cont">
                <img src="assets/images/home-icon.svg" alt="">
            </div>
            <p class="product-name-text">
                Heat Pump Electric Water Heater
            </p>
            <p class="product-name-text bold-text">>
                <b>
            
            {{ productOverview.selectedProduct.manufacturer_name }}
            {{ productOverview.selectedProduct.name }}
          </b>
            </p>
        </div>

        <div class="button-container">
            <button class="next-prev-button prev-btn" [class.disabled-button]="productOverview.isPrevButtonDisabled == true" (click)="previousProduct()" [disabled]="productOverview.isPrevButtonDisabled">
        <div class="button-arrow prev-btn-arrow" ><</div>
        Previous
      </button>
            <button class="next-prev-button next-btn" [class.disabled-button]="productOverview.isNextButtonDisabled == true" (click)="nextProduct()" [disabled]="productOverview.isNextButtonDisabled">
        Next
        <div class="button-arrow next-btn-arrow">></div>
      </button>

            <div class="button-arrow prev-btn-arrow single prev-arrow-border" [class.disabled-button]="productOverview.isPrevButtonDisabled == true" (click)="previousProduct()">
                <</div>

                    <div class="button-arrow next-btn-arrow single" [class.disabled-button]="productOverview.isNextButtonDisabled == true" (click)="nextProduct()">></div>
            </div>
            <!-- <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeDetails()"
    ></button> -->
        </div>
        <div class="image-title-container">
            <div class="image-container">
                <div class="product-img-cont">
                    <div class="image-slides">
                        <img *ngFor="let i of productThumbnailArray" [src]="i" [class.activeImage]="i == imageUrl" alt="image" class="thumbnail" (click)="changeImage(i)" />
                    </div>
                    <img [src]="imageUrl" class="main-image img-fluid" />
                </div>
                <div class="title-info-container">
                    <div class="energy-star-container">
                        <p class="product-manufacturer">
                            {{ productOverview.selectedProduct.manufacturer_name }}
                        </p>
                        <div class="energy-star-img">
                            <img class="energy-star-img" src="assets/images/energy-star.svg" alt="" />
                            <div class="energy-star-text-container">
                                <p class="energy-star-text">3.4 ef</p>
                                <img class="info-icon" src="assets/images/info-icon.svg" alt="" />
                            </div>
                        </div>
                    </div>

                    <p class="product-name">
                        {{ productOverview.selectedProduct.name }}
                    </p>

                    <p class="product-code">XE65T10HD50U1</p>

                    <hr class="hr-line" />

                    <div class="heighlight-container" *ngFor="let i of productOverview.selectedProduct.detail_highlight">
                        <div class="bullet"></div>
                        <p class="heighlight-text">{{ i }}</p>
                    </div>
                    <div class="price-container">
                        <div class="erased-price">
                            <p class="dollor-symbol">$</p>
                            <p class="main-price">1799</p>
                            <p class="zeros">00</p>
                        </div>
                        <hr class="verticle-hr-line" />
                        <div class="original-price-container">
                            <div class="original-price">
                                <p class="dollor-symbol" style="color: #0d6650">$</p>
                                <p class="main-price">799</p>
                                <p class="zeros" style="color: #0d6650">00</p>
                            </div>
                            <p class="condition-text">*With all incentives applied</p>
                        </div>
                    </div>
                    <div class="install-button-container">
                        <button class="install-button">Get Install Quote</button>
                        <p (click)="closeDetails()" class="back-results">Back to Results</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="product-overview-container">
            <div class="overview-header">
                <p class="overview-title">Product Overview</p>
                <p class="overview-title overview-specs">Product Specs</p>
            </div>
            <p class="meesage">
                Accelera heat pump water heaters save up to 80% of hot water costs because they extract heat to make hot water from energy in the air. The heat pump draws less energy than a toaster while it is running and making hot water. In warm climates, Accelera
                can be placed in a garage, where it uses the heat from the outside air; or inside the house, where it helps with air conditioning.
            </p>
            <div class="overview-body">
                <div class="product-bullet-block">
                    <div *ngFor="let i of productOverview.selectedProduct.product_bullet_block" class="bullet-container">
                        <div class="bullet-header">
                            <img src="assets/images/right-check.svg" alt="" />
                            <p class="bullet-header-text">{{ i.product_bullet }}</p>
                        </div>
                        <div class="bullet-body">
                            <p class="bullet-body-text">{{ i.product_block }}</p>
                        </div>
                    </div>
                </div>
                <!-- bullter-container end -->
                <div class="pricing-container">
                    <div class="best-price-container">
                        <p class="best-price">Base Price</p>
                        <hr class="dottet-hr-line" />
                        <p class="best-price">
                            ${{ productOverview.selectedProduct.base_price }}
                        </p>
                    </div>

                    <p class="installation-text">(Installation not included)</p>

                    <div class="incetive-text-container">
                        <div class="image-and-text-container">
                            <p class="avilable-incentive">Federal Tax Credit</p>
                            <img src="assets/images/info-icon.svg" alt="" />
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="avilable-incentive">-$0</p>
                    </div>

                    <div class="incetive-text-container">
                        <div class="image-and-text-container">
                            <p class="avilable-incentive">Federal Tax Credit</p>
                            <img src="assets/images/info-icon.svg" alt="" />
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="avilable-incentive">-$0</p>
                    </div>

                    <div class="incetive-text-container">
                        <div class="image-and-text-container">
                            <p class="avilable-incentive">Utility Incentives</p>
                            <img src="assets/images/info-icon.svg" alt="" />
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="avilable-incentive">-$0</p>
                    </div>

                    <div class="euipment-text-container">
                        <div class="image-and-text-container">
                            <p class="eqiupment-cost">Equipment Cost</p>
                            <img src="assets/images/info-icon.svg" alt="" class="info-icon" />
                        </div>
                        <hr class="dottet-hr-line" />
                        <p class="eqiupment-cost" style="color: #f2a354">
                            ${{ productOverview.selectedProduct.netCost }}
                        </p>
                    </div>

                    <div class="annual-saving-container">
                        <p class="annual-saving-text">
                            Your Est. Annual Savings is
                            <b style="color: #4d8807">${{ productOverview.selectedProduct.est_annual_savings_cal }}</b
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>