.product-container {
    /* padding: 0; */
    min-height: 750px;
    margin: 65px 0 0 0;
    /* border: 3px solid red; */
}

.left-container-holder {
    /* max-width: 470px; */
    /* min-width: 340px; */
    background-color: #ffffff;
    width: 32.8%;
}

.left-bar-container {
    width: 100%;
    /* display: flex; */
    padding: 15px;
    /* border: 2px solid red; */
    background-color: #ffffff;
}

.product-window {
    width: 67.2%;
    /* border: 2px solid yellow; */
    padding: 0;
}

.inner-product-container {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(231, 80, 231); */
}

.input-select-container {
    display: flex;
    width: 90%;
    align-self: center;
    margin-top: 5px;
}

.select-tag {
    width: 32%;
    height: 46px;
    padding: 11px 5px 11px 13px;
    border: solid 1px rgba(102, 102, 102, 0.5);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.05px;
    color: #666666;
}

.image-container {
    width: 10%;
    height: 46px;
    padding: 15px;
    border-radius: 4px;
    background-color: #f2a354;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.info-icon {
    margin: 0px;
}

.fuel-type-selector {
    width: 40%;
    margin: 5px 0px 0px 20px;
    padding: 10px 12px 12px 14px;
    border-radius: 4px;
    border: solid 1px rgba(102, 102, 102, 0.5);
    font-size: 12px;
    letter-spacing: 0.08px;
    color: #666666;
    background-color: #ffffff;
}

.no-button {
    width: 50%;
    height: 46px;
    padding: 13px 0 15px;
    background-color: #f2a354;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.08px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: solid 1px rgba(102, 102, 102, 0.5);
    border-right: none;
}

.yes-button {
    border: solid 1px rgba(102, 102, 102, 0.5);
    border-left: none;
    border-radius: 0;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    color: #666666;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.bottom {
    margin-top: 30px;
}

.incentive-text-container {
    width: 100%;
    height: auto;
    background-color: #00664f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incentive-text {
    margin-top: 11px;
    margin-left: 13px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.11px;
    color: #ffffff;
}

.discount-icon {
    width: 24px;
    height: 24px;
    padding: 1.5px 1.6px;
}

.recomended-option-text {
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.11px;
    text-align: left;
    color: #00664f;
    margin: 20px 0px 0px 30px;
}

.inner-product-window {
    /* border: 2px solid peru; */
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: flex;
}

.header-text-cont {
    border-bottom: 2px solid #aaa;
    width: 100%;
    margin-bottom: 20px;
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    color: #00664f;
    margin-bottom: 10px;
}

.heater-list {
    /* border: 1px solid rgb(35, 32, 209); */
    padding: 20px;
    width: 100%;
}

.product-card-list-container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-left: 15px;
}


/* .casousal-parent {
    display: none;
}

.carousal-container {
    width: 100px;
    height: 100px;
    border: 2px solid red;
} */

.modal-parent-container {
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    background: #f8f7f7;
}

.mobile-card {
    display: none;
}

@media (max-width:640px) {
    .product-card-list-container {
        display: none;
    }
    .casousal-parent {
        width: initial;
        display: flex;
        justify-content: center;
        /* border: 1px solid green; */
    }
    .mobile-card {
        display: block;
    }
}

@media screen and (max-width:1000px) {
    .left-bar-container {
        width: 100%;
    }
    .left-container-holder {
        width: 100%;
    }
    .product-window {
        width: 100%;
        /* height: 300px; */
    }
}