<div *ngIf="!_product_data.overview_toggle" class="row product-container">
    <div class="col-12 inner-product-container">
        <div class="row m-0 p-0">
            <div class="left-container-holder">
                <div class="left-bar-container">
                    <app-left-slider></app-left-slider>
                </div>
            </div>
            <div class="product-window">
                <div class="incentive-text-container">
                    <img class="discount-icon" src="assets/images/discount.svg" alt="discount-img" />
                    <h3 class="incentive-text">
                        Your project qualifies you for <b>incentives!</b>
                    </h3>
                </div>
                <div class="inner-product-window">
                    <div class="heater-list">
                        <div class="header-text-cont">
                            <p class="header-text">
                                Your Hybrid Electric Water Heater Recommended Options
                            </p>
                        </div>
                        <app-product-card></app-product-card>
                        <div class="mobile-card">
                            <app-mobile-view></app-mobile-view>
                        </div>
                    </div>
                    <!-- <app-product-working></app-product-working> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div *ngIf="_product_data.overview_toggle" class="modal-parent-container">
    <app-product-modal></app-product-modal>
</div>
<!-- modal-end -->